# GraphQL endpoint
GQL_HOST="https://satmax.com/graphql"
# If you have the WooNuxt-Settings plugin installed this is all you need. Everything else is optional and can be configured in the WordPress admin under Settings > WooNuxt. 



# Needed for nuxt-image to work with external images
NUXT_IMAGE_DOMAINS="satmax.com, satmax.org"

